[submodule "themes/starter"]
	path = themes/starter
	url = https://github.com/jimfrenette/hugo-starter.git
[submodule "themes/hugo-starter"]
	path = themes/hugo-starter
	url = https://github.com/jimfrenette/hugo-starter
