[submodule "themes/starter"]
	path = themes/starter
	url = https://github.com/jimfrenette/hugo-starter.git
[submodule "themes/hugo-starter"]
	path = themes/hugo-starter
	url = https://github.com/jimfrenette/hugo-starter
[submodule "themes/bootstrap"]
	path = themes/bootstrap
	url = https://github.com/zwbetz-gh/minimal-bootstrap-hugo-theme
[submodule "themes/basic"]
	path = themes/basic
	url = https://github.com/jimfrenette/hugo-starter
[submodule "themes/etch"]
	path = themes/etch
	url = https://github.com/LukasJoswiak/etch
